# Ignore rails APP dir structure & DB data dir
/db

# Ignore bundler config
/.bundle

# Ignore all environment files
/.env*

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# OS files
.DS_Store*